#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
}
#cssmenu {
    width: 100%;
    font-family: "Montserrat", "Pretendard", "Malgun Gothic", "맑은 고딕", "돋움", "Tahoma";
    border-top: rgba(255, 255, 255, 0.05) 1px solid;
}
#cssmenu ul ul {
    display: none;
}
#cssmenu > ul > li {
    display: flex;
    align-items: center;
}
#cssmenu > ul > li > span {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 15px;
    color: #111;
    letter-spacing: -0.5px;
    border-bottom: #e9e9e9 1px solid;
    cursor: pointer;
}
#cssmenu > ul > li > span > em {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    font-size: 13px;
    color: #fff;
    border-radius: 5px;
    background: rgb(59, 59, 59);
    transition: all 0.3s ease-in-out;
}
#cssmenu > ul > li > span > span span {
    color: #8b8ba0;
}
#cssmenu > ul > li > span:hover {
    color: #111;
    background: #e9e9e9;
}
#cssmenu > ul > li > span:hover > em {
    color: #fff;
    background: #ac1f24;
}
#cssmenu > ul > li > a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-weight: 600;
    font-size: 15px;
    color: #111;
    letter-spacing: -0.5px;
    border-bottom: #e9e9e9 1px solid;
    cursor: pointer;
}
#cssmenu > ul > li > a > em {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    font-size: 13px;
    color: #fff;
    border-radius: 5px;
    background: rgb(59, 59, 59);
    transition: all 0.3s ease-in-out;
}
#cssmenu > ul > li > a > span span {
    color: #8b8ba0;
}
#cssmenu > ul > li > a:hover {
    color: #111;
    background: #e9e9e9;
}
#cssmenu > ul > li > a:hover > em {
    color: #fff;
    background: #ac1f24;
}
#cssmenu > ul > li.active > a {
    color: #fff;
}
#cssmenu > ul > li.active > a > em {
    color: #fff;
    background: #ac1f24;
}
#cssmenu > ul > li.open > a {
    color: #111;
    background: #e9e9e9;
}
#cssmenu > ul > li.open > a > em {
    color: #fff;
    background: #ac1f24;
}
#cssmenu > ul > li:last-child > a {
    border-bottom: #e9e9e9 1px solid;
}
#cssmenu > ul > li.last > a {
    border-bottom: #e9e9e9 1px solid;
}
#cssmenu > ul > li .csmenu-arr {
    display: block;
    font-size: 16px;
    position: absolute;
    right: 12;
}

.holder {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.holder::after,
.holder::before {
    display: block;
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    right: 25px;
    z-index: 10;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.holder::after {
    top: 22px;
    border-top: 1px solid #9394a7;
    border-left: 1px solid #9394a7;
}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
    border-color: #111;
}
.holder::before {
    top: 22px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-top-color: inherit;
    border-left-color: inherit;
}

#cssmenu ul ul li a {
    padding: 13px 25px 13px 55px;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #333;
    letter-spacing: -1px;
    background: #fff;
    border-bottom: #e9e9e9 1px solid;
}
#cssmenu ul ul li a i {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 7px;
    margin-bottom: 3px;
    border-radius: 2px;
    background: #333;
}
#cssmenu ul ul li:hover > a {
    color: #ac1f24;
}
#cssmenu ul ul li.open > a {
    color: #ac1f24;
}
#cssmenu ul ul li.active > a {
    color: #ac1f24;
}

#cssmenu ul ul ul li a {
    padding-left: 60px;
    font-size: 13px;
    background: #3f3f3f;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
    border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
    border-bottom: 1px solid #32373e;
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
    border-bottom: 0;
}
#cssmenu ul ul li.has-sub > a::after {
    display: block;
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    right: 25px;
    z-index: 10;
    top: 11.5px;
    border-top: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
    border-color: #ffffff;
}

/* ########### */
.wrap-admin #cssmenu,
.wrap-admin #cssmenu ul,
.wrap-admin #cssmenu ul li,
.wrap-admin #cssmenu ul li a {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
}
.wrap-admin #cssmenu {
    width: 240px;
    font-family: "Montserrat", "NotoSansKR", "Malgun Gothic", "맑은 고딕", "돋움", "Tahoma";
    border-top: rgba(255, 255, 255, 0.05) 1px solid;
}
.wrap-admin #cssmenu ul ul {
    display: none;
}

.wrap-admin #cssmenu > ul > li {
    display: flex;
    align-items: center;
    width: 100%;
}
.wrap-admin #cssmenu > ul > li > a {
    display: flex;
    align-items: center;
    padding: 18px 24px;
    font-size: 14px;
    color: #9394a7;
    letter-spacing: -1px;
    border-bottom: rgba(255, 255, 255, 0.05) 1px solid;
    width: 100%;
}
.wrap-admin #cssmenu > ul > li > a > em {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 14px;
    font-size: 12px;
    border-radius: 5px;
    background: #1d215b;
    transition: all 0.3s ease-in-out;
}
.wrap-admin #cssmenu > ul > li > a:hover {
    color: #fff;
    background: #1d215b;
}
.wrap-admin #cssmenu > ul > li > a:hover > em {
    color: #fff;
    background: #5a61f1;
}
.wrap-admin #cssmenu > ul > li.active > a {
    color: #fff;
}
.wrap-admin #cssmenu > ul > li.active > a > em {
    color: #fff;
    background: #5a61f1;
}
.wrap-admin #cssmenu > ul > li.open > a {
    color: #fff;
    background: #1d215b;
}
.wrap-admin #cssmenu > ul > li.open > a > em {
    color: #fff;
    background: #5a61f1;
}
.wrap-admin #cssmenu > ul > li:last-child > a {
    border-bottom: rgba(255, 255, 255, 0.05) 1px solid;
}
.wrap-admin #cssmenu > ul > li.last > a {
    border-bottom: rgba(255, 255, 255, 0.05) 1px solid;
}
.wrap-admin #cssmenu > ul > li .csmenu-arr {
    display: block;
    font-size: 16px;
    position: absolute;
    right: 12px;
}

.wrap-admin .holder {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.wrap-admin .holder::after,
.wrap-admin .holder::before {
    display: block;
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    right: 25px;
    z-index: 10;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.wrap-admin .holder::after {
    top: 31px;
    border-top: 1px solid #9394a7;
    border-left: 1px solid #9394a7;
}
.wrap-admin #cssmenu > ul > li > a:hover > span::after,
.wrap-admin #cssmenu > ul > li.active > a > span::after,
.wrap-admin #cssmenu > ul > li.open > a > span::after {
    border-color: #fff;
}
.wrap-admin .holder::before {
    top: 31px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-top-color: inherit;
    border-left-color: inherit;
}

.wrap-admin #cssmenu ul ul li a {
    padding: 16px 25px 16px 60px;
    font-size: 14px;
    line-height: 14px;
    color: #9394a7;
    letter-spacing: -0.5px;
    background: #1d215b;
    border-bottom: rgba(255, 255, 255, 0.05) 1px solid;
}
.wrap-admin #cssmenu ul ul li a i {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 7px;
    margin-bottom: 3px;
    border-radius: 2px;
    background: #868aa8;
}
.wrap-admin #cssmenu ul ul li:hover > a {
    color: #ffffff;
}
.wrap-admin #cssmenu ul ul li.open > a {
    color: #36c6d3;
}
.wrap-admin #cssmenu ul ul li.active > a {
    color: #36c6d3;
}

.wrap-admin #cssmenu ul ul ul li a {
    padding-left: 60px;
    background: #2b384a;
}
.wrap-admin #cssmenu > ul > li > ul > li:last-child > a,
.wrap-admin #cssmenu > ul > li > ul > li.last > a {
    border-bottom: 0;
}
.wrap-admin #cssmenu > ul > li > ul > li.open:last-child > a,
.wrap-admin #cssmenu > ul > li > ul > li.last.open > a {
    border-bottom: 1px solid #32373e;
}
.wrap-admin #cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
    border-bottom: 0;
}
.wrap-admin #cssmenu ul ul li.has-sub > a::after {
    display: block;
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    right: 20px;
    z-index: 10;
    top: 11.5px;
    border-top: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.wrap-admin #cssmenu ul ul li.active > a::after,
.wrap-admin #cssmenu ul ul li.open > a::after,
.wrap-admin #cssmenu ul ul li > a:hover::after {
    border-color: #ffffff;
}
